# venv
.venv/
__pycache__/
*.pyc

# dataset (jangan pernah push)
data/*
!data/trashnet/
data/trashnet/*
!data/trashnet/raw/
data/trashnet/raw/*
!data/trashnet/raw/**/
!data/trashnet/raw/**/.gitkeep

# model weights (jangan push, kecuali pakai Git LFS)
models/model.pth

# metrics: ignore semua, tapi KEEP yang penting untuk laporan
metrics/*
!metrics/metrics.json
!metrics/classification_report.json
!metrics/confusion_matrix.png
!metrics/train_log.csv
